<form
  *ngIf="course"
  class="form"
  [formGroup]="form"
>

  <div class="form-control">
    <small
      *ngIf="form.get('name').invalid"
      class="form-control__info"
    >
      *{{ 'form.required' | translate }}
    </small>
    <input
      class="form-control__input"
      type="text"
      id="title"
      [placeholder]="'edit&create-course-page.title-placeholder' | translate"
      formControlName="name"
    />
    <label class="form-control__label" for="title">
      {{ 'edit&create-course-page.title' | translate }}
    </label>
  </div>

  <div class="form-control">
    <small
      *ngIf="form.get('description').invalid"
      class="form-control__info"
    >
      *{{ 'form.required' | translate }}
    </small>
    <textarea
      class="form-control__textarea"
      id="description"
      [placeholder]="'edit&create-course-page.description-placeholder' | translate"
      formControlName="description"
    ></textarea>
    <label class="form-control__label" for="description">
      {{ 'edit&create-course-page.description' | translate }}
    </label>
  </div>

  <div class="form-control form-control_small">
    <small
      *ngIf="form.get('length').invalid"
      class="form-control__info"
    >
      *{{ 'form.required' | translate }}
    </small>
    <input
      class="form-control__input"
      type="number"
      id="duration"
      [placeholder]="'edit&create-course-page.minutes' | translate"
      formControlName="length"
    />
    <label class="form-control__label" for="duration">
      {{ 'edit&create-course-page.duration' | translate }}
    </label>
  </div>

  <div class="form-control form-control_small"> 
    <small 
      *ngIf="form.get('date').invalid"
      class="form-control__info"
    >
      *{{ 'form.required' | translate }}
    </small>
    <input
      class="form-control__input"
      type="date"
      id="date"
      formControlName="date"
    />
    <label class="form-control__label" for="duration">
      {{ 'edit&create-course-page.date' | translate }}
    </label>
  </div>

  <div class="form-control form-control_medium"
    *ngIf="authors"
  >
    <small
      *ngIf="form.get('authors').invalid"
      class="form-control__info"
    >
      *{{ 'edit&create-course-page.author-validator' | translate }}
    </small>
    <input
      class="form-control__input"
      type="text"
      id="author"
      [placeholder]="'edit&create-course-page.author-placeholder' | translate"
      autocomplete="off"
      formControlName="authorSearch"
      (focus)="isAuthorsOpen = true"
      #authorsInput
    />
    <label class="form-control__label" for="author">
      {{ 'edit&create-course-page.author' | translate }}
    </label>
    <ul 
      *ngIf="isAuthorsOpen && (authors | authorsFilter:form.get('authors').value:form.get('authorSearch').value).length"
      class="form-control__authors"
      (mouseleave)="isAuthorsOpen = false; authorsInput.blur();"
    >
      <li
        *ngFor="let author of authors | authorsFilter:form.get('authors').value:form.get('authorSearch').value"
        class="form-control__authors-item"
        (click)="addAuthor(author)"
      >
        {{author.name}}
      </li>
    </ul>
    <div
      class="form-control__chips"
    >
      <app-chip *ngFor="let author of form.get('authors').value"
        [author]="author"
        (removeHandler)="removeAuthor($event)"
      ></app-chip>
    </div>
  </div>
</form>