.create-course-page {
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 180px);

  &__form {
    border-radius: 6px;
	  background: #FFFFFF;
	  box-shadow: 0 1px 2px 0 rgba(29,30,38,0.10), 0 2px 10px 0 rgba(29,30,38,0.15);
    width: 730px;
    padding: 25px;
  }

  &__title {
    font-size: 24px;
    color: #333333;
  }

  &__form-controls {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;

    .btn:first-child {
      margin-left: 10px;
    }
  }
}