<div class="create-course-page container">
  <div class="create-course-page__form">
    <h2 class="create-course-page__title">New course</h2>
    <div class="form-control">
      <small class="form-control__info">*required</small>
      <input
        class="form-control__input"
        type="text"
        id="title"
        placeholder="Text input"
        [(ngModel)]="title"
      />
      <label class="form-control__label" for="title">Title</label>
    </div>
    <div class="form-control">
      <small class="form-control__info">*required</small>
      <textarea
        class="form-control__textarea"
        id="description"
        placeholder="Add description"
        [(ngModel)]="description"
      ></textarea>
      <label class="form-control__label" for="description">Description</label>
    </div>
    <div class="form-control form-control_small">
      <small class="form-control__info">*required</small>
      <input
        class="form-control__input"
        type="number"
        id="duration"
        placeholder="minutes"
        [(ngModel)]="duration"
      />
      <label class="form-control__label" for="duration">Duration</label>
    </div>
    <div class="form-control form-control_small"> 
      <small class="form-control__info">*required</small>
      <input
        class="form-control__input"
        type="date"
        id="date"
        [(ngModel)]="creationDate"
      />
      <label class="form-control__label" for="duration">Date</label>
    </div>
    <div class="form-control form-control_medium">
      <small class="form-control__info">*required</small>
      <input
        class="form-control__input"
        type="text"
        id="author"
        placeholder="Start typing"
        [(ngModel)]="author"
      />
      <label class="form-control__label" for="author">Author</label>
    </div>
    <div class="create-course-page__form-controls">
      <button class="btn btn_green" (click)="save()">Save</button>
      <button class="btn btn_gray" [routerLink]="['/courses']">Cancel</button>
    </div>
  </div>
</div>