<header class="app-header container">
  <div class="app-header__right">
    <app-fake-logo></app-fake-logo>
  </div>
  <div class="app-header__left">
    <div class="app-header__controls" *ngIf="authService.isAuthenticated()">
      <button class="btn btn_white app-header__btn" [routerLink]="['/login']">
        <i class="material-icons btn_white__icon">person_outline</i>
        {{ 'header.user-login' | translate }}
      </button>
      <button class="btn btn_white app-header__btn" (click)="logout()">
        <i class="material-icons btn_white__icon">exit_to_app</i>
        {{ 'header.log-out' | translate }}
      </button>
    </div>
    <app-switcher
      [text]="currentLanguage"
      (onClick)="toggleLanguage($event)"
    ></app-switcher>
  </div>
</header>
