@import '../../../../styles/variables.scss';

.course-page {
  background-color: $whiteColor2;

  .container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 180px);
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__header-top {
    margin-bottom: 20px;
  }

  &__header-bottom {
    display: flex;
    flex-direction: row-reverse;
  }

  &__content {
    flex-grow: 1;
  }

  &__empty {
    flex-grow: 1;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
