<div class="course" [ngClass]="{ 'course_top-rated': course.isTopRated }">
  <div class="course__header">
    <div class="course__header-left">
      <h2>
        {{ course.name }}
        <i *ngIf="course.isTopRated" class="material-icons">star_border</i>
      </h2>
    </div>
    <div class="course__header-right">
      <p>
        <i class="material-icons"> access_time </i>
        {{ course.length | transMin }}
      </p>
      <p>
        <i [appDateStyle]="course.date" class="material-icons"></i>
        {{ course.date.format("ll") }}
      </p>
    </div>
  </div>
  <div class="course__info">
    <div class="course__info-left">
      <p>
        {{ course.description }}
      </p>
    </div>
    <div class="course__info-right">
      <button
        class="btn btn_blue-small"
        (click)="goToCourse()"
      >
        <i class="material-icons">edit</i>
        Edit
      </button>
      <button class="btn btn_blue-small" (click)="deleteHandler()">
        <i class="material-icons">delete</i>
        Delete
      </button>
    </div>
  </div>
</div>
