.app-header {
  background-color: #30323f;

  & > .container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    & > button:first-child {
      margin-right: 10px;
    }
  }
}
