.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}

.confirm-modal {
  padding: 20px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
      0 2px 20px 0 rgba(29, 30, 38, 0.15);

  &__content {
    font-size: 18px;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 70px;
    justify-content: center;

    &:first-child {
      margin-right: 10px;
    }
  }
}