<div class="create-course-page container">
  <div
    *ngIf="(authors$ | async).length" 
    class="create-course-page__wrapper"
  >
    <h2 class="create-course-page__title">
      {{ 'edit&create-course-page.new-course' | translate }}
    </h2>
    <app-course-form
      [course]="newCourse"
      [authors]="authors$ | async"
    ></app-course-form>
    <div class="create-course-page__form-controls">
      <button 
        class="btn btn_green create-course-page__btn"
        [disabled]="courseForm ? courseForm.form.invalid : true"
        (click)="save()"
      >
        {{ 'button.save' | translate }}
      </button>
      <button 
        class="btn btn_gray create-course-page__btn" 
        [routerLink]="['/courses']"
      >
        {{ 'button.cancel' | translate }}
      </button>
    </div>
  </div>
</div>