<div class="create-course-page container">
  <div class="create-course-page__form">
    <h2 class="create-course-page__title">New course</h2>
    <div class="form-control">
      <small class="form-control__info">*required</small>
      <input
        class="form-control__input"
        type="text"
        id="title"
        placeholder="Text input"
        [(ngModel)]="name"
      />
      <label class="form-control__label" for="title">Title</label>
    </div>
    <div class="form-control">
      <small class="form-control__info">*required</small>
      <textarea
        class="form-control__textarea"
        id="description"
        placeholder="Add description"
        [(ngModel)]="description"
      ></textarea>
      <label class="form-control__label" for="description">Description</label>
    </div>
    <div class="form-control form-control_small">
      <small class="form-control__info">*required</small>
      <input
        class="form-control__input"
        type="number"
        id="duration"
        placeholder="minutes"
        [(ngModel)]="length"
      />
      <label class="form-control__label" for="duration">Duration</label>
    </div>
    <div class="form-control form-control_small"> 
      <small class="form-control__info">*required</small>
      <input
        class="form-control__input"
        type="date"
        id="date"
        [(ngModel)]="date"
      />
      <label class="form-control__label" for="duration">Date</label>
    </div>
    <div class="form-control form-control_medium">
      <small class="form-control__info">*required</small>
      <input
        class="form-control__input"
        type="text"
        id="author"
        placeholder="Start typing"
        autocomplete="off"
        [(ngModel)]="authorSearch"
        (focus)="isAuthorsOpen = true"
        #authorsInput
      />
      <label class="form-control__label" for="author">Author</label>
      <ul 
        *ngIf="isAuthorsOpen"
        class="form-control__authors"
        (mouseleave)="isAuthorsOpen = false; authorsInput.blur(); authorSearch = '';"
      >
        <li
          *ngFor="let author of authorsService.list | authorsFilter:authors:authorSearch"
          class="form-control__authors-item"
          (click)="addAuthor(author)"
        >
          {{author.name}}
        </li>
      </ul>
      <div
        class="form-control__chips"
      >
        <app-chip *ngFor="let author of authors"
          [author]="author"
          (removeHandler)="removeAuthor($event)"
        ></app-chip>
      </div>
    </div>
    <div class="create-course-page__form-controls">
      <button class="btn btn_green create-course-page__btn" (click)="save()">Save</button>
      <button class="btn btn_gray create-course-page__btn" [routerLink]="['/courses']">Cancel</button>
    </div>
  </div>
</div>