.btn {
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;

  &_white {
    color: transparentize($whiteColor, 0);
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: inherit;
    
    &__icon {
      margin-right: 5px;
    }

    &:hover {
      color: transparentize($whiteColor, .5);
    }
  }

  &_green {
    color: #ffffff;
    border-radius: 3px;
    background-color: transparentize($greenColor, 0);
    height: 36px;
    width: 73px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: transparentize($greenColor, .3);
    }
  }

  &_blue-big {
    border-radius: 3px;
    background-color: transparentize($blueColor1, 0);
    height: 36px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: $whiteColor;

    &__icon {
      margin-right: 5px;
      font-size: 20px;
    }

    &:hover {
      background-color: transparentize($blueColor1, .3);
    }
  }

  &_blue-small {
    border-radius: 3px;
    background-color: transparentize($blueColor1, 0);
    height: 24px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: $whiteColor;
    font-size: 12px;

    &__icon {
      margin-right: 5px;
      font-size: 16px;
    }

    &:hover {
      background-color: transparentize($blueColor1, .3);
    }
  }

  &_clear {
    color: $blueColor2;
    background-color: $whiteColor;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &_gray {
    border-radius: 3px;
	  border: 1px solid $grayColor2;
    box-sizing: border-box;
    color: $grayColor2;
	  border-width: 1px;
	  border-style: solid;
    height: 36px;
    width: 70px;
    background-color: transparent;

    &:hover {
      border: 1px solid $darkColor;
      color: $darkColor;
    }

    &:disabled {
      border: 1px solid $grayColor2;
      color: $grayColor2;
    }
  }

  &_modal-close {
    background-color: transparent;
    color: $grayColor2;
    &:hover {
      color: $darkColor;
    }
    &__icon {
      font-size: 28px;
    }
  }

  &_pagination {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: #ffffff;
    background-color: transparentize($blueColor1, 0);
    
    &:hover {
      background-color: transparentize($blueColor1, .3);
    }
  }

  &_chip {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $whiteColor;
    
    &__icon {
      font-size: 20px;
      color: $darkColor;
    }
  }

  &:disabled {
    background-color: $grayColor1 !important;
    cursor: auto !important;
  }
}