$logoColor: #40979e;

$whiteColor: #ffffff;
$whiteColor2: #f5f6fa;

$grayColor1: #ced0db;
$grayColor2: #acafbf;
$grayColor3: #b4b4b4;

$darkColor: #474a59;
$darkColor2: #30323f;

$greenColor: #67a300;

$blueColor1: #009ecc;
$blueColor2: #0000ff;
$blueColor3: #e8fffd;

$orangeColor: #ffa500;

$backdropColor: transparentize(#000000, .7);
$shadowColor: #1d1e26;

$alertSuccessColor: #67a300;
$alertWarningColor: #dee200;
$alertDangerColor: #f84049;



$contentZIndex: 1;
$backpropZIndex: 2;
$modalZIndex: 3;
$alertZIndex: 4;