<div class="course-page">
  <div class="container">
    <div class="course-page__header">
      <div class="course-page__header-top">
        <div class="form-control">
          <input
            class="input"
            type="text"
            placeholder="Type to search"
            [(ngModel)]="searchField"
          />
          <button type="button" class="btn btn_green" (click)="searchHandler()">
            Search
          </button>
        </div>
      </div>
      <div class="course-page__header-bottom">
        <button class="btn btn_blue-big">
          <i class="material-icons">add_circle_outline</i>
          Add course
        </button>
      </div>
    </div>
    <div *ngIf="courses.length; else emptyList" class="course-page__content">
      <app-course
        *ngFor="let course of courses | orderBy | filter: filterBy"
        [course]="course"
        (onDelete)="deleteCourse($event)"
      ></app-course>
    </div>
    <div class="courder-page__footer">
      <button class="btn btn_long" (click)="loadHandler()">Load more</button>
    </div>
  </div>
</div>

<ng-template #emptyList>
  <div class="course-page__empty">
    <p>No data. Feel free to add new course.</p>
  </div>
</ng-template>
