@import '../../../styles/variables.scss';

.error-page {
  background-color: $whiteColor2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);

  &__message {
    color: $darkColor;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}