<div class="backdrop" (click)="reject.emit()"></div>

<div class="confirm-modal">
  <div class="confirm-modal__header">
    <h2>{{ title }}</h2>
    <button class="btn btn_modal-close" (click)="reject.emit()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="confirm-modal__content">
    <p>{{ text }}</p>
  </div>
  <div class="confirm-modal__footer">
    <button class="btn btn_green confirm-modal__btn" (click)="confirm.emit()">Yes</button>
    <button class="btn btn_gray confirm-modal__btn" (click)="reject.emit()">No</button>
  </div>
</div>