<div class="login-page container">
  <form class="login-page__form">
    <h1>{{ 'login-page.login' | translate }}</h1>
    <div class="form-control">
      <small class="form-control__info">
        *{{ 'form.required' | translate }}
      </small>
      <input
        class="form-control__input"
        type="text"
        id="nickname"
        name="nickname"
        [placeholder]="'login-page.nickname-placeholder' | translate"
        [(ngModel)]="nickname"
        [disabled]="isLoading"
      />
      <label class="form-control__label" for="nickname">
        {{ 'login-page.nickname' | translate }}
      </label>
    </div>
    <div class="form-control">
      <small class="form-control__info">
        *{{ 'form.required' | translate }}
      </small>
      <input
        class="form-control__input"
        type="password"
        id="password"
        name="password"
        [placeholder]="'login-page.password-placeholder' | translate"
        [(ngModel)]="password"
        [disabled]="isLoading"
      />
      <label class="form-control__label" for="Your password">
        {{ 'login-page.password' | translate }}
      </label>
    </div>
    <div class="login-page__form-footer">
      <button class="btn btn_clear">
        {{ 'login-page.forget-password' | translate }}?
      </button>
      <button class="btn btn_green" (click)="login()" [disabled]="isLoading">
        {{ 'login-page.login' | translate }}
      </button>
    </div>
  </form>
</div>
