<div class="edit-course-page container">
  <div
    *ngIf="editedCourse$ | async"
    class="edit-course-page__wrapper"
  >
    <h2 class="create-course-page__title">{{(editedCourse$ | async).name}}</h2>
    <app-course-form
      [course]="editedCourse$ | async"
      [authors]="authors$ | async"
    ></app-course-form>
    <div class="edit-course-page__form-controls">
      <button 
        class="btn btn_green edit-course-page__btn"
        [disabled]="courseForm ? courseForm.form.invalid : false"
        (click)="save()"
      >
        Save
      </button>
      <button class="btn btn_gray edit-course-page__btn" [routerLink]="['/courses']">Cancel</button>
    </div>
  </div>
</div>